<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Launcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Dark Gray</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Launcher.Settings>
      <setting name="but1App" serializeAs="String">
        <value />
      </setting>
      <setting name="but1Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but1AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but1Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but2App" serializeAs="String">
        <value />
      </setting>
      <setting name="but2Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but3App" serializeAs="String">
        <value />
      </setting>
      <setting name="But3Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but4App" serializeAs="String">
        <value />
      </setting>
      <setting name="but4Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but5App" serializeAs="String">
        <value />
      </setting>
      <setting name="but5Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but6App" serializeAs="String">
        <value />
      </setting>
      <setting name="but6Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but7App" serializeAs="String">
        <value />
      </setting>
      <setting name="but7Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but8App" serializeAs="String">
        <value />
      </setting>
      <setting name="but8Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but9App" serializeAs="String">
        <value />
      </setting>
      <setting name="but9Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but10App" serializeAs="String">
        <value />
      </setting>
      <setting name="but10Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but11App" serializeAs="String">
        <value />
      </setting>
      <setting name="but11Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but12App" serializeAs="String">
        <value />
      </setting>
      <setting name="but12Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but13App" serializeAs="String">
        <value />
      </setting>
      <setting name="but13Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but14App" serializeAs="String">
        <value />
      </setting>
      <setting name="but14Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but15App" serializeAs="String">
        <value />
      </setting>
      <setting name="but15Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but16App" serializeAs="String">
        <value />
      </setting>
      <setting name="but16Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but17App" serializeAs="String">
        <value />
      </setting>
      <setting name="but17Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but18App" serializeAs="String">
        <value />
      </setting>
      <setting name="but18Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="but2AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but2Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but3Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but4Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but5Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but6Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but7Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but8Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but9Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but10Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but11Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but12Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but13Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but14Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but15Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but16Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but17Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but18Image" serializeAs="String">
        <value />
      </setting>
      <setting name="but3AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but4AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but5AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but6AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but7AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but8AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but9AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but10AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but11AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but12AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but13AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but14AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but15AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but16AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but17AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="but18AppLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="AppNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="app1startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app2startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app3startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app4startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app5startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app6startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app7startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app8startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app9startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app10startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app11startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app12startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app13startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app14startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app15startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app16startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app17startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app18startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ctrl" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="alt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="shift" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="key" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CenterForm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>False</value>
      </setting>
    </Launcher.Settings>
  </userSettings>
</configuration>